@model Buecherei.Models.Buch

@{
    ViewData["Title"] = "Create";
}

<h1>Buch erstellen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Buchnummer" class="control-label"></label>
                <input asp-for="Buchnummer" class="form-control" />
                <span asp-validation-for="Buchnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sachgebiet" class="control-label"></label>
                <input asp-for="Sachgebiet" class="form-control" />
                <span asp-validation-for="Sachgebiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erscheinungsjahr" class="control-label"></label>
                <input asp-for="Erscheinungsjahr" class="form-control" />
                <span asp-validation-for="Erscheinungsjahr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Zurück zur Liste</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
